* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.header {
    height: 200px;
    width: 100%;
    background: #f6f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 600 !important;
}

.btn-p {
    background: #74b9ff !important;
    color: black !important;
    border: none !important;
    letter-spacing: 0.5px;
}

.btn-p:hover {
    background: #62aaf1 !important;
}

.btn-s {
    background: #fab1a0 !important;
    color: black !important;
    border: none !important;
    letter-spacing: 0.5px;
}

.btn-s:hover {
    background: #e17055 !important;
}

.main {
    background-color: #F6F7F8;
}

input, textarea {
    margin-bottom: 1em !important;
}

/* ===== CARD STYLES ===== */
.card-wrapper {
    width: 100%;
    box-shadow: 2px 3px 6px #a5a5a57a;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.card-top {
    width: 100%;
    height: 2%;
}

.task-holder {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-header {
    border-radius: 2em;
    text-transform: capitalize;
    margin-top: 1em;
    margin-bottom: 1em;
    width: fit-content;
    padding: 1.5em;
    text-align: center;
    border-bottom: none !important;
    font-weight: 600;
}

.task-container {
    height: auto;
    margin: 0 auto;
    display: grid;
    padding: 40px 40px;
}

.btns {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.btns i {
    cursor: pointer;
    font-size: 1.7em;
    margin-left: 0.5em;
}

/* ====== MEDIA QUERIES ====== */
@media screen and (max-width: 481px) {
    .card-wrapper {
        height: 200px;
    }
    .task-container {
        grid-template-columns: 1fr;
        gap: 1.5em;
    }

}

@media screen and (min-width: 482px) and (max-width: 769px) {
    .card-wrapper {
        height: 250px;
    }
    .task-container {
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;
    }
}

@media screen and (min-width: 770px) and (max-width: 1050px) {
    .card-wrapper {
        height: 250px;
    }
    .task-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;
    }
}

@media screen and (min-width: 1050px) {
    .card-wrapper {
        height: 250px;
    }
    .task-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5em;
    }
}

@media screen and (min-width: 1450px) {
    .task-container {
        padding: 40px 100px;
    }
}